snippet fc "function component"
    import React from "react";

    const ${TM_FILENAME_BASE}: React.FC<{}> = () => {
        return (
            <div>
                ${TM_FILENAME_BASE}
            </div>
        );
    };

    export default ${TM_FILENAME_BASE};
